@charset "UTF-8";

/*------------ Font ------------*/



header {
   font-family: 'Josefin Sans', sans-serif;
   color:#fff;
}

body {
   font-family: 'Josefin Sans', sans-serif;
   color: #fff;
}



/*------------ Base ------------*/

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*-------------------Animation---------------------*/

    
.logoArt
{
    display: block;
    font-size: 60px;
    color: #93201C;
    letter-spacing: -1px;
    line-height: 60px;
    margin-top: 1em;
    animation-name: rotation;
    animation-duration: 6s;
}

@keyframes rotation {
   0% {
     transform: rotate(0);
   }
   50% {
     transform: rotate(360deg);
   }
 }


.logo
 {
   width: 260px;
   margin-top: 2em;
     
 }


.hidden {
    display: none;
 }

.border-top {
    border-top: 1px solid #A22522;
    padding-top: 1.5em;
 }


 /*-----------------form & article---------------*/


.article p {
   color: #f1f1f1;
   padding-top: 0em;
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-bottom: 1.5em;
   font-size: 1.2em;
   font-weight: 400;
   text-align: center;
   margin: 0em;
   display: flexbox;
   flex-direction: row;
   flex-wrap: wrap;
   flex-shrink: 0;

}

.article h2 {
   font-weight: 700;
   font-size: 3em;
   color: #f1f1f1;
   padding: 1.5em 1.5em;
   text-align: center;
   margin: 0em;
   display: flexbox;
   flex-direction: row;
   flex-wrap: wrap;
   flex-shrink: 0;

}





/*-------------Normal Setting -----------------*/
/*-----------------Normal Header---------------------------*/

@media screen and (min-width: 641px) {
#mainheader {
    margin-top: 40px;
    padding-bottom: 20px;
    height:  100px;
    display: flex;
    flex-direction: column;
}


#logo
{
    width: 260px;
    margin-top: 2em;
}


#onlylogo h1
{
    font-size: 44px;
    color: black;
    line-height: 25px;
    
}

.logoStudios
{
    display: block;
    font-size: 60px;
    color: #333;
    letter-spacing: -1px;
    line-height: 60px;
}

#mainNav {
   margin-left: auto;
   display: flex;
   flex-direction: row;
   margin-top: -5em;
   
}



#mainNav ul
{
    text-transform: uppercase;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    
}





#search {
   margin-left: auto;
}

#search form {
   margin-bottom: 22px;
}

#search input
{background-color: #fff;
 border: 1px solid #d1d1d1;
 color: #666;
 width: 150px;
 padding: 6px 15px 6px 35px;
 border-radius: 5px;
 text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}


#siteContainer {
   margin: 0 auto;
   width: 960px;
   flex-wrap: wrap;
   flex-shrink: 50%;
}



 
 
 .origin input, text {
     padding: .75em;
     border: 1px solid #ccc;
     background-color: #f7f7f7;
     border-radius: 5px;
     margin-bottom: 1em;
     width: 400px;
     text-align: center;
  }
 
  input, textarea {
     padding: .75em;
     border: 1px solid #ccc;
     background-color: #f7f7f7;
     border-radius: 5px;
     margin-bottom: 1em;
     width: 700px;
  }
 
 
  input[type="submit"] {
   width: inherit;
   padding-top: 0.8em;
   padding-bottom: 0.8em;
   padding-left: 13.5em;
   padding-right: 13.5em;
   background-color: #101A2C;
   color: #93201C;
   border: solid;
   border-radius: 20px;
   border-color: #f1f1f1;
   border-width: 2px;
   font-weight:700;
   font-size: 14px;
 }
 
 

/*---------Normal Footer Setting----------------*/
#mainFooter
 {
     margin-top: 40px;
     margin-bottom: 40px;
     display: flex;
     flex-direction: column;
     width: 960px;
     
 }

 #footerNav
 {
     width: 500px;
     height: 30px;
     text-transform: uppercase;
     text-align: center;
 }


 #footerNav ul li
 {
     display: inline;
     font-size: 14px;
     font-weight: 600;
     margin-right: 20px;
 }



 #icons
 {
     display: flex;
     flex-direction: row;
     margin-left: 50em;
     margin-top: -1.5em;
     width: 100%;
     flex-wrap: wrap;
     flex-shrink: 0;
 }
 
 .fab {
     font-size: 1.5em;
     color:#ffff;
     padding: 8px;
  }


#copyRight
 {
     margin: auto;
     text-align: center;
     font-size: 12px;
     color: #fff;
 }

}
/*-----------------Normal Setting End------------------------------------*/





/*-------------------Responsive Setting------------------------------------*/

/*--------Responsive Footer Setting-------------*/

.fab {
    font-size: 1.5em;
    color:#ffff;
    padding: 8px;
 }


#copyRight
{
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: #fff;
}


/*-------------Responsive Heading-----------------*/

#mainNav ul li a
{
    display: block;
    width: 100px;
    color:#fff;
    margin-left: -2px;
    margin-right: 12px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    font-weight: 600;


    border-radius: 7px;
    background: #101A2C;
    background: -moz-linear-gradient(top, #101A2C 0%, #101A2C 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101A2C), color-stop(100%,#101A2C));
    background: -webkit-linear-gradient(top, #101A2C 0%,#101A2C 100%);
    background: -o-linear-gradient(top, #101A2C 0%,#101A2C 100%);
    background: -ms-linear-gradient(top, #101A2C 0%,#101A2C 100%);
    background: linear-gradient(to bottom, #101A2C 0%,#101A2C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}

#mainNav ul li a:hover
{
   background: #626262;
   background: -moz-linear-gradient(top,#626262 0%, #626262 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626262), color-stop(100%,#626262));
   background: -webkit-linear-gradient(top, #626262 0%,#626262 100%);
   background: -o-linear-gradient(top, #626262 0%,#626262 100%);
   background: -ms-linear-gradient(top, #626262 0%,#626262 100%);
   background: linear-gradient(to bottom, #626262 0%,#626262 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21d16', endColorstr='#aa0803',GradientType=0 );
}


#footerNav ul li a
{
    color: #fff;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#footerNav ul li a:hover
{
    color: #333;
    border-bottom: solid 3px #333;
    padding-bottom: 5px;
}


#footerNav ul li
{
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
}

 /*--------------Responsive Container & Box---------------*/


    
 .container {
     margin: 0 auto;
     display: flex;
     flex-direction: row; 
     flex-wrap: wrap;
     text-align: center;
     flex-grow: 3;
     flex: 1 1 auto;
     flex-wrap: wrap;
     color: #fff;
 }

 .containerMain {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    flex-grow: 3;
    flex: 1 1 auto;
    flex-wrap: wrap;
    color:#fff;
}

 .box {
     text-align: center;
     margin: 10px;
     flex-grow: 1;
     display: flex;
     flex-direction: row;
     margin: 10px;
     flex-grow: 3;
     flex: 1 1 auto;
     flex-wrap: wrap;
     color: #fff;
 }

 
 /*-------------search----------------*/
 #search {
    margin-left: auto;
 }
 
 #search form {
    margin-bottom: 22px;
 }
 
 #search input
 {background-color: #fff;
  border: 1px solid #d1d1d1;
  color: #666;
  width: 50%;
  padding: 6px 15px 6px 35px;
  border-radius: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
 }


 /*-----------------------------*/
 @media screen and (max-width: 641px) {


    
.article p {
    color: #f1f1f1;
    padding-top: 0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin: 0em;
    width: 80%;
    
    
 }
 
 .article h2 {
    font-weight: 700;
    font-size: 3em;
    color: #f1f1f1;
    padding: 1.5em 1.5em;
    text-align: center;
    margin: 0em;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 70%;
  
 }
 
 #copyRight
 {
     margin: auto;
     text-align: center;
     font-size: 12px;
     color: #fff;
     width: 50%;
 }


 .origin input, text {
    padding: .75em;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 400px;
    text-align: center;
    width: 90%;
    
 }

 input, textarea {
    padding: .75em;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 1em;


 }


 input[type="submit"] {
  width: inherit;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 7em;
  padding-right: 7em;
  background-color: #101A2C;
  color: #93201C;
  border: solid;
  border-radius: 20px;
  border-color: #f1f1f1;
  border-width: 2px;
  font-weight:700;
  font-size: 14px;

}

#onlylogo h1
{
    font-size: 30px;
    color: black;
    line-height: 25px;
    width: 50%;
    margin-left: 6em;
    
}

.logoArt
{
    display: block;
    font-size: 50px;
    color: #93201C;
    letter-spacing: -1px;
    line-height: 50px;
    margin-top: 1em;
    animation-name: rotation;
    animation-duration: 6s;
}

@keyframes rotation {
   0% {
     transform: rotate(0);
   }
   50% {
     transform: rotate(360deg);
   }
 }

 }
 